/* 
    Document   : application
    Created on : Feb 20, 2009, 10:36:40 AM
    Author     : brian
    Description:
        Application-wide styles
*/

/* TODO: what is this? */
root { 
    display: block;
}

body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #555253;
  font-family: "Bitstream Vera Sans", "Verdana", "Arial", "Helvetica";
  font-size: 14px;
  color: #444;
  line-height: 1.4em;
}

h1 {
  font-size: 160%;
  color: #444;
}

h2 {
  font-size: 120%;
  color: #444;
}

h2.with_subheader {
  position: relative;
  margin-bottom: 0px;
}

h3.subheader {
  font-size: 90%;
  font-weight: normal;
  color: #666;
  margin-top: -0.2em;
}

ul {
  margin: 0;
}

a  {
  color: #c62;
  text-decoration: underline;
}

a:hover {
  /*background-color: #03c;*/
  /*color: #999;*/
  text-decoration: none;
}

div.anchor {
  position: relative;
}

div.anchor a {
  position: absolute;
  bottom: 3em;
}

a img {
  border: none;
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	/*width: 80%;*/
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 0;
}
fieldset fieldset legend {
	font-size: 130%;
	font-weight: normal;
	margin-left: 20px;
}
fieldset fieldset div.row {
	clear: left;
	margin: 0 20px;
}
form div.row {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
	white-space: nowrap; /* fixes radio buttons' labels from wrapping */
}
input, textarea {
	clear: both;
	display: block;
	font-size: 130%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
input[type=hidden] {
  display: none;
}
select {
	clear: both;
	font-size: 130%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 130%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}
div.inline_form_element {
  float: left;
  clear: none;
  margin: 0 20px 0 0;
}
/* Auto complete */
div.auto_complete {
  width: 350px;
  background: #fff ;
}
div.auto_complete ul {
  border:1px solid #888 ;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb ;
}
div.auto_complete ul strong.highlight {
  color: #800 ;
  margin:0;
  padding:0;
}

/* Floated content */
div.left {
  float: left;
  margin: 0px 15px 10px 0;
}

div.right {
  float: right;
  margin: 0px 0px 10px 15px;
}

div.callout {
  border-top: 5px dotted #c8c8c8;
  border-right: 5px solid #b4b4b4;
  border-bottom: 5px solid #b8b8b8;
  border-left: 5px solid #d0d0d0;
  background-color: #e0e0e0;
}

div.callout div {
  margin: 10px 10px 15px;
}

div.callout h2 {
  margin: 0;
}

div.callout ul {
  margin: 10px 0px;
  width: 230px;
  font-size: 120%;
  line-height: 120%;
}

    
/* Hacks */

/* Fix for clearing elements */
/* NOTE: Use this if you need child elements to float on top of subsequent elements on page
 * Automatically sticks an invisible '.' after the element so that floats
 * don't protrude below their containing elements
 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */


/* Flash messages */
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 90%;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 90%;
  list-style: disc;
}

