<div class="uncolumned">
  <p>Qlogic, Inc. has been creating software solutions for airlines and airports for nearly two decades. We take pride in providing quality applications tailored to our clients' neeeds.</p>

  <div class="clearfix">
    <% content_tag :div, :style => 'float: right; clear: right; margin: 0px 0px 10px 15px' do %>
      <%= image_tag 'xyz.jpg', :width => 150, :height => 150 %>
    <% end %>
    
    <h3>John Warren</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam consequat tincidunt purus ac tincidunt.</p>
  </div>
  
  
  <div class="clearfix">
    <% content_tag :div, :style => 'float: left; clear: left; margin: 0px 15px 10px 0' do %>
      <%= image_tag 'xyz.jpg', :width => 150, :height => 150 %>
    <% end %>
    
    <h3>Phu V. Tran</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam consequat tincidunt purus ac tincidunt.</p>
  </div>
</div>
