<div class="uncolumned">
  <% content_tag :div, :class => 'left' do %>
    <%= image_tag '747_silhouette.jpg', :width => 300, :height => 188 %>
  <% end %>
  <%= t(:about_main_content,
    :company_name => COMPANY_NAME,
    :software_solutions_link => software_solutions_link,
    :web_form_link => web_form_link
  ) %>
</div>
