<% content_tag :div, :class => 'left' do %>
  <%= image_tag 'contact.jpg', :width => 300, :height => 198 %>
<% end %>

<div class="text large_text">
  <!--
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis,
    lacus eu blandit laoreet, enim nibh mollis. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Morbi venenatis, lacus eu blandit laoreet,
    enim nibh mollis.
  </p>
  -->
  <p>
    <strong><%= COMPANY_NAME %></strong><br />
    11250 West Rd, Unit L<br />
    Houston, TX 77065<br />
    <br />
    Email: <%= INQUIRY_EMAIL %><br />
    Tel: (281) 970-3700<br />
    Fax: (206) 338-2825<br />
  </p>
</div>
