<div class="uncolumned">
  <% content_tag :div, :class => 'left' do %>
    <%= image_tag 'takeoff.jpg', :width => 300, :height => 200 %>
  <% end %>
  <%= t(:home_main_content,
    :company_name => COMPANY_NAME,
    :check_in_link => check_in_link,
    :board_control_link => board_control_link,
    :terminal_emulation_link => terminal_emulation_link,
    :sdk_software_link => sdk_software_link,
    :web_form_link => web_form_link
  ) %>
</div>
