<div class="uncolumned">
  <% content_tag :div, :class => 'left' do %>
    <%= image_tag 'takeoff.jpg', :width => 300, :height => 200 %>
  <% end %>
  <%= t(:home_main_content,
    :company_name => COMPANY_NAME,
    :passenger_check_in_link => passenger_check_in_link,
    :boarding_control_link => boarding_control_link,
    :terminal_emulation_link => terminal_emulation_link,
    :software_development_kits_link => software_development_kits_link,
    :web_form_link => web_form_link
  ) %>
</div>
