<div id="factoids">
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td class="title"><%= t(:factoid_title) %></td>
      <td id="factoid" class="text">
        <NOSCRIPT>
          <%= random_fact %>
        </NOSCRIPT>
      </td>
    </tr>
  </table>
</div>
