<div id="factoids">
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td class="title"><%= t(:factoid_title) %></td>
      <td class="text">
        <%= random_fact_html %>
      </td>
    </tr>
  </table>
</div>
