<div id="footer" class="clearfix">
  <div class="innerds">
    <div class="copyright">
      © Copyright <%= Time.now.year %> <%= COMPANY_NAME %>
    </div>
    <div class="company_info">
      11250 West Rd, Unit L, Houston, TX 77065
      &nbsp;
      Tel. (281) 970-3700
    </div>
  </div>
</div>
